html {
    width: 100%;
}

body {
    margin-top: 20px;
    max-width: 75%;
    height: fit-content;
    margin: auto;
    margin-top: 20px;
    background-color: slategray;
    box-shadow: 10px 10px 30px #252525;
}

h1 {
    padding: 10px;
    margin: 0;
    background-color: darkgray;
    text-align: center;
}

nav {
    font-size: 1.2rem;
    background-color: gray;
    padding: 10px;
}

nav a {
    color: black;
    text-decoration: none;
    padding-right: 5px;
    border-right: black solid 1px;
}

nav a:last-child {
    border-right: none;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}

main {
    text-align: center;
    min-height: 100px;
    background-color: azure;
    padding: 20px;
}

.stats {
    text-align: left;
    position: fixed;
    top: 130px;
    left: 13%;
    background-color: lightgray;
    width: 150px;
    padding: 10px;
}

.stats p {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}

.stats p:last-child{
    padding-bottom: 0;
}

input {
    padding: 5px 15px 5px 15px;
}

.formContainer {
    width: 25%;
    margin: auto;
    text-align: left;
}

footer {
    font-size: 1rem;
    padding: 10px;
    text-align: center;
    background-color: darkgray;
}